﻿<script type="text/html" id="duallistbox-template">

    <div class="duallistbox-container">

        <div class="row">

            <div class="col-md-6">

                <input class="filter form-control" type="text" data-bind="textInput : UnSelectedFilter" placeholder="Filter" />

                <div class="btn-group buttons">
                    <button type="button" class="btn btn-default addall" data-bind="click: SelectAll">
                        <span class="fa fa-chevron-right"></span>
                        <span class="fa fa-chevron-right"></span>
                    </button>
                    <button type="button" class="btn btn-default addoption" data-bind="click: SelectOptions">
                        <span class="fa fa-chevron-right"></span>
                    </button>
                </div>


                <select class="form-control" multiple="multiple" data-bind="foreach: UnSelectedOptionsFiltered, selectedOptions: UnSelectedHighlighted">
                    <option data-bind="value: Value, text: Text"></option>
                </select>

            </div>

            <div class="col-md-6">

                <input class="form-control filter" type="text" data-bind="textInput : SelectedFilter" placeholder="Filter" />

                <div class="btn-group buttons">
                    <button type="button" class="btn btn-default removeall" data-bind="click: RemoveAll">
                        <span class="fa fa-chevron-left"></span>
                        <span class="fa fa-chevron-left"></span>
                    </button>
                    <button type="button" class="btn btn-default removeoption" data-bind="click: RemoveOptions">
                        <span class="fa fa-chevron-left"></span>
                    </button>
                </div>

                <select class="form-control" multiple="multiple" data-bind="foreach: SelectedOptionsFiltered, selectedOptions: SelectedHighlighted">
                    <option data-bind="value: Value, text: Text"></option>
                </select>

            </div>

        </div>

    </div>

</script>