﻿<script type="text/html" id="error-summary-template">
    <!-- ko if: $data.Errors().length > 0 -->
    <div class="alert alert-danger" role="alert">
        <ul class="error-summary-list" data-bind="template: { name: 'error-item-template', foreach: $data.Errors }"></ul>
    </div>
    <!-- /ko -->

</script>

<script type="text/html" id="error-item-template">
    <li class="error-item"><span class="error-item-name" data-bind="text: Name"></span> : <span class="error-item-message" data-bind="text: Message"></span></li>
</script>