﻿<script type="text/html" id="modal-template">

    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="koModel" data-bind="attr : { id : ElementID }">
        <div class="modal-dialog" data-bind="css: ModalType">
            <div class="modal-content">
                <div class="modal-header" data-bind="template: { name: ModalHeaderTemplate, data: $data }">
                </div>
                <div class="modal-body">

                    <!-- ko template: { name: 'error-summary-template', data: $data.ErrorSummary }-->
                    <!-- /ko-->
                    <!-- ko if: BodyData() -->
                    <!-- ko template: { name: BodyTemplate, data: $data.BodyData } -->
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
                <div class="modal-footer">
                    <!-- ko if: ShowClose -->
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: Close, text: CloseText"></button>
                    <!-- /ko -->
                    <!-- ko if: ShowSave -->
                    <button type="button" class="btn btn-primary" data-bind="click: Save, text: SaveText"></button>
                    <!-- /ko -->
                </div>
            </div>

        </div>
    </div>

</script>

<script type="text/html" id="message-box-template">

    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="koMessageBox" data-bind="attr : { id : ElementID }">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-bind="click: Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="koModel" data-bind="text: Title"></h4>
                </div>

                <div class="modal-body">

                    <!-- ko template: { name: 'error-summary-template', data: $data.ErrorSummary }-->
                    <!-- /ko-->
                    <!-- ko if: BodyData() -->
                    <!-- ko template: { name: BodyTemplate, data: $data.BodyData } -->
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko ifnot: BodyData() -->
                    <p data-bind="text: Text"></p>
                    <!-- /ko -->
                </div>

                <div class="modal-footer">

                    <!-- ko if: ShowClose -->
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: Close, text: CloseText"></button>
                    <!-- /ko -->
                    <!-- ko if: ShowOk -->
                    <button type="button" class="btn btn-primary" data-bind="click: Ok, text: OkText"></button>
                    <!-- /ko -->

                </div>
            </div>

        </div>
    </div>


</script>

<script type="text/html" id="modal-header-template">

    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-bind="click: Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="koModel" data-bind="text: ModalTitle"></h4>


</script>



<script type="text/html" id="name-form-template">

    <form>
        <div class="form-group">
            <label for="FormName" data-bind="text: Label"></label>
            <input type="text" class="form-control" id="FormName" name="FormName" data-bind="value: Value, attr: { placeholder : Placeholder }">
        </div>
    </form>

</script>

<script type="text/html" id="modal-inline-template">

    <div class="jumbotron jumbotron-create">
        <h4 data-bind="text : ModalTitle"></h4>
    </div>

    <div style="margin-top:10px;" class="row" data-bind="template : {name : 'modal-inline-buttons-template', data : $data }"></div>
    <hr />

    <!-- ko template: { name: 'error-summary-template', data: $data.ErrorSummary }-->
    <!-- /ko-->

    <div data-bind="template: { name : BodyTemplate, data : BodyData }, attr: { id : ElementID }">
    </div>
    <hr />
    <div style="margin-top:10px;" class="row" data-bind="template : {name : 'modal-inline-buttons-template', data : $data }"></div>

</script>

<script type="text/html" id="modal-inline-buttons-template">
    <div class="col-md-12">
        <div class="pull-right">

            <!-- ko if: ShowClose -->
            <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: Close, text: CloseText"></button>
            <!-- /ko -->
            <!-- ko if: ShowSave -->
            <button type="button" class="btn btn-primary" data-bind="click: Save, text: SaveText"></button>
            <!-- /ko -->

        </div>
    </div>
</script>