﻿
<script type="text/html" id="treeview-template">
    <!-- ko if: $root.ShowLoading() -->
    <p>Loading...</p>
    <!-- /ko -->
    <!-- ko ifnot: $root.ShowLoading() -->
    <ul class="treeview-root" data-bind="template: { name: 'treeview-nodes-template', foreach : Nodes }"></ul>
    <!-- /ko -->
</script>

<script type="text/html" id="treeview-nodes-template">

    <li class="treeview-folder">

        <div class="treeview-folder-item">

            <div class="selection" data-bind="css:  SelectedCss, click: Select">
            </div>

            <!-- ko foreach: new Array(Depth()) -->
            <div class="indent" data-bind="click: $parent.Select">
            </div>
            <!-- /ko -->

            <div class="treeview-folder-icon treeview-folder-openclosed" data-bind="click: Select">
                <div data-bind="css: IconClass"></div>
            </div>

            <!-- ko if : Children().length > 0 || AreChildrenLoaded() === false -->
            <div class="treeview-folder-icon treeview-folder-plusminus" data-bind="click: ExpandCollapse">
                <div data-bind="css: ExpanderClass"></div>
            </div>
            <!-- /ko -->

            <div class="treeview-folder-icon treeview-folder-text" data-bind="click: Select">
                <div class="spacer"></div>
                <div data-bind="text: Text"></div>
            </div>

        </div>

        <!-- ko if:Children().length > 0 && IsOpen() -->
        <ul data-bind="template: {name:'treeview-nodes-template', foreach: Children }"></ul>
        <!--/ko-->
    </li>

</script>